<h1>Búsqueda de Ciudadanos</h1>
<form>
    <label for="nroDocumento">Número de Documento:</label>
    <input type="text" id="nroDocumento" name="nroDocumento">

    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido">

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre">  


    <label for="areaServicio">Área de Servicio:</label>
    <select id="areaServicio" name="areaServicio">
        <option value="todas">Todas</option>
    </select>

    <label for="tipoIncidente">Tipo de Incidente:</label>
    <select id="tipoIncidente" name="tipoIncidente">
        <option value="todas">Todas</option>
    </select>

    <label for="estadoIncidente">Estado de Incidente:</label>
    <select id="estadoIncidente" name="estadoIncidente">
        <option value="todas">Todas</option>
    </select>

    <label for="barrio">Barrio:</label>
    <select id="barrio" name="barrio">
        <option value="todas">Todas</option>
    </select>

    <label for="zonaIncidente">Zona de Incidente:</label>
    <select id="zonaIncidente" name="zonaIncidente">
        <option value="todas">Todas</option>
    </select>

    <label><input type="checkbox" name="conRegistros"> Con Registros</label>

    <button type="submit">Buscar</button>
    <button type="button">Registrar</button>
    <button type="button">Exportar</button>
</form>