<div class="table-container">
    <button>hola</button>
</div>

<table mat-table class="mat-elevation-z8 demo-table">
<!--Id de las areas-->
<ng-container atColumnDef="position">
 <th>ID</th>
 <td></td>
</ng-container>
<!--nombre de las areas-->
<ng-container matColumDef="name">
    <th>NOMBRE</th>
    <td></td>
</ng-container>
 <!-- Symbol Column -->
 <ng-container matColumnDef="symbol">
    <th>descripcion</th>
    <td></td>
  </ng-container>
  <ng-container matColumnDef="symbol">
    <th>descripcion</th>
    <td></td>
  </ng-container>
</table>
