<div class="container">
  <div class="header">
    <h1>CONFIGURACIÓN ÁREA DE SERVICIO</h1>
  </div>

  <div class="header-container">
    <button class="btn-nuevo" (click)="toggleFormulario()">
      {{ mostrarFormulario ? 'Cancelar' : 'Nuevo' }}
    </button>
  </div>

  <!-- Modal para crear una Nueva Area de Servicio -->
  <div id="myModal" class="modal" [ngClass]="{ show: mostrarFormulario }">
    <div class="modal-content">
      <span class="close" (click)="toggleFormulario()">&times;</span>
      <form [formGroup]="areaform" (ngSubmit)="submitForm()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nueva Área de Servicio</mat-label>
          <input matInput type="text" id="Descripcion" class="full-width-input" formControlName="Descripcion"/>
        </mat-form-field>
        <button mat-stroked-button class="btn-nuevo" type="submit">
          Agregar
        </button>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="table-container">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Tipo de Incidente</th>
          <th>Área de Servicio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let area of AreasServicios">
          <td>
            <button mat-icon-button color="primary" (click)="openTipoIncidenteModal(area)">
              <mat-icon>add</mat-icon>
            </button>
          </td>
          <td>{{area.Descripcion}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal para crear un nuevo tipo de incidente -->
<div id="modalTipoIncidente" class="modal" [ngClass]="{ show: mostrarTipoIncidenteForm }">
  <div class="modal-content">
    <span class="close" (click)="closeTipoIncidenteModal()">&times;</span>
    <form [formGroup]="tipoIncidenteForm" (ngSubmit)="submitTipoIncidenteForm()">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Observación (Nombre del tipo de incidente)</mat-label>
        <input matInput type="text" id="observacion" class="full-width-input" formControlName="observacion"/>
      </mat-form-field>
      <button mat-stroked-button class="botton" type="submit">
        Guardar
      </button>
    </form>
  </div>
</div>

