<div class="container">
  <div class="header">
    <h1>CONFIGURACIÓN ÁREA DE SERVICIO</h1>
  </div>

  <div class="header-container">
    <button class="btn-nuevo" (click)="toggleFormulario()">
      {{ mostrarFormulario ? 'Cancelar' : 'Nuevo' }}
    </button>
  </div>

  <!-- Modal para crear una Nueva Area de Servicio -->
  <div id="myModal" class="modal" [ngClass]="{ show: mostrarFormulario }">
    <div class="modal-content">
      <span class="close" (click)="toggleFormulario()">&times;</span>
      <form [formGroup]="areaform" (ngSubmit)="submitForm()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nueva Área de Servicio</mat-label>
          <input matInput type="text" id="Descripcion" class="full-width-input" formControlName="Descripcion"/>
        </mat-form-field>
        <button mat-stroked-button class="btn-nuevo" type="submit">
          Agregar
        </button>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="table-container">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Área de Servicio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let area of AreasServicios">
          <td>
           {{area.Id_Areas_Servicios}}
          </td>
          <td>{{area.Descripcion}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


