<div class="div-contenedor-de-todo">
<!-- table.component.html -->
<div class="table-container">
  <div class="header-container">
    <h2 class="h2Color">Grupos</h2>
    <!-- Botón que abre el formulario de creación de grupos -->
    <button class="btn-nuevo" (click)="toggleFormulario()">
      {{ mostrarFormulario ? 'Cancelar' : 'Nuevo' }}
    </button>
  </div>


  <!-- Modal -->
  <div id="myModal" class="modal" [ngClass]="{'show': mostrarFormulario}">
  <div class="modal-content">
      <span class="close" (click)="toggleFormulario()">&times;</span>
    <form [formGroup]="grupoForm" (ngSubmit)="submitForm()">
      <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nuevo grupo</mat-label>
      <input matInput type="text" id="roleName" class="full-width-input" formControlName="Nombres" required>
      </mat-form-field>
        <button mat-stroked-button class="botton" type="submit">Agregar</button>
      </form>
    </div>
  </div>
  <!--fin del modal-->
  <table class="styled-table">
    <thead>
      <tr>
        <th>ID de Rol</th>
        <th>Nombre del Rol</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let grupo of grupos">
        <td>{{ grupo.Id_Grupos }}</td>
        <td>{{ grupo.Nombres }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade " id="editGroup" tabindex="-1" aria-labelledby="editGroupLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down ">
    <div class="modal-content m">
      <div class="modal-header">
        <h5 class="modal-title" id="editGroupLabel">Modificar Usuario</h5>
      </div>
      <div class="modal-body">
        <form *ngIf="grupoSeleccionado" [formGroup]="modificarGrupoForm" (ngSubmit)="submitModificarForm()">
          <div>
            <label for="modificardescripcion">descripcion:</label>
            <input id="modificardescripcion" formControlName="descripcion" type="text" />
          </div>
          <button type="submit" [disabled]="modificarGrupoForm.invalid" data-bs-dismiss="modal">Guardar Cambios</button>
        </form>
      </div>

    </div>
  </div>
</div>