body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  color: #333 !important;
  overflow:auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilos para el formulario */
form {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #333;
}

.h2Color{
  color: #333 !important;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: #a8cf45;
}

button {
  background-color: #a8cf45;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #ccc;
}


button:hover:not(:disabled) {
  background-color: #0056b3;
}

/* Mensajes de error */
div.ng-invalid.ng-touched {
  color: #e74c3c;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  color: #333;
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #a8cf45;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

td button {
  background-color: #e74c3c;
  border: none;
  color: white;
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
}

td button:first-child {
  background-color: #28a745;
}

td button:hover {
  opacity: 0.8;
}

/* Estilos para el formulario de modificar */
form[ngIf] {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

.formMod{
  margin-top: 20px;
}


/* Estilo para el modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro */
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ancho del modal */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Mostrar modal */
.modal.show {
  display: block;
}