<div class="container">
    <div class="header">
      <button (click)="toggleFormulario()">Nuevo</button>
  </div>

  <!-- Formulario que utiliza FormGroup (Reactive Forms) de Angular -->



  <!-- Modal -->
<div id="myModal" class="modal" [ngClass]="{'show': mostrarFormulario}">
  <div class="modal-content">
    <span class="close" (click)="toggleFormulario()">&times;</span>
    <form [formGroup]="usuarioForm" (ngSubmit)="submitForm()">
        <h2 class="h2Color">Crear Usuario</h2>
        <!-- El formGroup 'usuarioForm' está enlazado con el formulario. Cuando se envía el formulario, se ejecuta la función 'submitForm()' -->
        <div>
          <label for="Nombres">Nombre:</label>
          <!-- Input que utiliza 'formControlName' para enlazar el campo 'Nombres' del formulario reactivo -->
          <input id="Nombres" formControlName="Nombres" type="text" />
          <!-- Validación: si el campo es inválido y ha sido tocado, se muestra un mensaje de error -->
          <div *ngIf="usuarioForm.get('Nombres')?.invalid && usuarioForm.get('Nombres')?.touched">
            Nombre es requerido
          </div>
        </div>
        <div>
          <label for="email">email:</label>
          <input id="email" formControlName="email" type="eemail" />
          <!-- Validación: si el campo es inválido (por ejemplo, un formato de eemail incorrecto) y ha sido tocado, se muestra un mensaje de error -->
          <div *ngIf="usuarioForm.get('email')?.invalid && usuarioForm.get('email')?.touched">
            Ingresa un email válido
          </div>
        </div>
        <div>
          <label for="Pass">Pass:</label>
          <input id="Pass" formControlName="Pass" type="password" />
          <!-- Validación: si la Pass es inválida (por ejemplo, si tiene menos de 6 caracteres) y el campo ha sido tocado, se muestra un mensaje de error -->
          <div *ngIf="usuarioForm.get('Pass')?.invalid && usuarioForm.get('Pass')?.touched">
            La Pass debe tener al menos 6 caracteres
          </div>
        </div>
    
        <label for="grupo">Seleccionar Grupo:</label>
        <div>
            <div *ngFor="let grupo of grupos">
                <!-- [value]="grupo.Id_Grupos" Asigna el valor de este radio button al Id_Grupos del objeto grupo. Esto es lo que se enviará al formulario cuando este radio button esté seleccionado. -->
                <input type="radio" [value]="grupo.Id_Grupos" formControlName="Id_Grupos"
                    [id]="'grupo-' + grupo.Id_Grupos" />
                <label [for]="'grupo-' + grupo.Id_Grupos">{{ grupo.Nombres }}</label>
            </div>
        </div>
    
        <!-- Botón para enviar el formulario -->
        <!-- Se deshabilita el botón si el formulario es inválido (por ejemplo, si no se han completado los campos obligatorios) -->
        <button type="submit" [disabled]="usuarioForm.invalid">Enviar</button>
    </form>
  </div>
</div>

  <h2>Usuarios Registrados</h2>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombres</th>
        <th>email</th>
        <th>Pass</th>
        <th>Grupos</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.Id_Usuarios }}</td>
        <td>{{ usuario.Nombres }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.Pass }}</td>
        <td class="borde"> {{ obtenerDescripcionGrupo(usuario.Id_Grupos) }}
        <td>

          <!-- Botón para borrar el usuario -->
          <button class="button-reg" (click)="editarUsuario(usuario)">Modificar</button>
          <button (click)="bajaUsuario(usuario.Id_Usuarios)">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Formulario para modificar usuario, solo visible si se seleccionó un usuario para editar -->
  <form class="formMod" *ngIf="usuarioSeleccionado" [formGroup]="modificarUsuarioForm" (ngSubmit)="submitModificarForm()">
    <div>
      <label for="modificarNombre">Nombre:</label>
      <input id="modificarNombre" formControlName="Nombres" type="text" />
    </div>
    <div>
      <label for="modificaremail">email:</label>
      <input id="modificaremail" formControlName="email" type="eemail" />
    </div>
    <div>
      <label for="modificarpass">Pass:</label>
      <input id="modificarpass" formControlName="Pass" type="password" />
    </div>
    <label for="grupo">Seleccionar Grupo:</label>
    <div>
        <div *ngFor="let grupo of grupos">
            <!-- [value]="grupo.Id_Grupos" Asigna el valor de este radio button al Id_Grupos del objeto grupo. Esto es lo que se enviará al formulario cuando este radio button esté seleccionado. -->
            <input type="radio" [value]="grupo.Id_Grupos" formControlName="Id_Grupos"
                [id]="'grupo-' + grupo.Id_Grupos" />
            <label [for]="'grupo-' + grupo.Id_Grupos">{{ grupo.Nombres }}</label>
        </div>
    </div>
    <button type="submit" [disabled]="modificarUsuarioForm.invalid">Guardar Cambios</button>
  </form>
</div>