
    <div class="container">
      <div class="right"></div>
        <div class="left">
            <div >
                <h1>Iniciar Sesión</h1>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <mat-form-field appearance="fill" class="animation a3">
                        <mat-label>Ingrese su email:</mat-label>
                        <input matInput formControlName="email" required>
                    </mat-form-field>
                    <mat-form-field class="animation a4">
                        <mat-label>Ingrese su contraseña:</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="Pass" #input
                            minlength="6" required >
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-hint align="start">Mínimo:6/{{input.value.length}}</mat-hint>
                    </mat-form-field>
                    <button mat-raised-button type="submit">Iniciar Sesión</button>
                    <div *ngIf="errorMessage">{{ errorMessage }}</div>
                </form>
            </div>
        </div>

    </div>
