<!-- <div class="registro-incidentes">
    <h2>Registro de Incidentes</h2>
  
    <form>
      <div class="form-group">
        <label for="areaServicio">Área de Servicio *</label>
        <select id="areaServicio" class="form-control">
          <option value="">Seleccione un área</option> -->
          <!-- Agregar más opciones según sea necesario
        </select>
      </div>
  
      <div class="form-group">
        <label for="tipoIncidente">Tipo de Incidente *</label>
        <select id="tipoIncidente" class="form-control">
          <option value="">Seleccione un tipo</option> -->
          <!-- Agregar más opciones -->
        <!-- </select>
      </div>
  
      <div class="form-group">
        <label for="prioridad">Prioridad</label>
        <select id="prioridad" class="form-control">
          <option value="baja">Baja</option>
          <option value="media">Media</option>
          <option value="alta">Alta</option>
          <option value="urgente">Urgente</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="origen">Origen</label>
        <select id="origen" class="form-control">
          <option value="telefono">Teléfono Atención Vecino</option>
          <option value="email">Email</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="observaciones">Observaciones</label>
        <textarea id="observaciones" class="form-control"></textarea>
      </div>
    </form>
  
    <h2>Datos del Ciudadano</h2>
  
    <form>
      <div class="form-group">
        <label for="dni">DNI *</label>
        <input type="text" id="dni" class="form-control" placeholder="Ingrese el DNI y presione BUSCAR">
        <button class="buscar-btn">Buscar</button>
      </div>
  
      <div class="form-group">
        <label for="nombre">Nombre *</label>
        <input type="text" id="nombre" class="form-control">
      </div>
  
      <div class="form-group">
        <label for="apellido">Apellido *</label>
        <input type="text" id="apellido" class="form-control">
      </div>
  
      <div class="form-group">
        <label for="sexo">Sexo</label>
        <select id="sexo" class="form-control">
          <option value="femenino">Femenino</option>
          <option value="masculino">Masculino</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="domicilio">Domicilio</label>
        <input type="text" id="domicilio" class="form-control">
      </div>
  
      <div class="form-group">
        <label for="barrio">Barrio</label>
        <select id="barrio" class="form-control">
          <option value="">Seleccione un barrio</option> -->
          <!-- Agregar más opciones -->
        <!-- </select>
      </div>
  
      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="text" id="telefono" class="form-control" placeholder="SIN 0 Y SIN 15">
      </div>
  
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control">
      </div>

      <div class="form-row">
        <button type="submit" class="siguiente-btn">Siguiente</button>
      </div>
    </form>
  </div> -->
  

  <div class="registro-incidentes">
    <h2>Registro de Incidentes</h2>
  
    <!-- Formulario de Incidentes -->
    <form  (ngSubmit)="registrarIncidente()">
      <div class="form-group">
        <label for="areaServicio">Área de Servicio *</label>
        <select id="areaServicio" class="form-control" formControlName="areaServicio">
          <option value="">Seleccione un área</option>
          <!-- Agregar más opciones -->
        </select>
        <div *ngIf="incidenteForm.get('areaServicio')?.invalid && incidenteForm.get('areaServicio')?.touched" class="error">
          El área de servicio es obligatoria.
        </div>
      </div>
  
      <div class="form-group">
        <label for="tipoIncidente">Tipo de Incidente *</label>
        <select id="tipoIncidente" class="form-control" formControlName="tipoIncidente">
          <option value="">Seleccione un tipo</option>
          <!-- Agregar más opciones -->
        </select>
        <div *ngIf="incidenteForm.get('tipoIncidente')?.invalid && incidenteForm.get('tipoIncidente')?.touched" class="error">
          El tipo de incidente es obligatorio.
        </div>
      </div>
  
      <div class="form-group">
        <label for="prioridad">Prioridad *</label>
        <select id="prioridad" class="form-control" formControlName="prioridad">
          <option value="baja">Baja</option>
          <option value="media">Media</option>
          <option value="alta">Alta</option>
          <option value="urgente">Urgente</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="origen">Origen *</label>
        <select id="origen" class="form-control" formControlName="origen">
          <option value="telefono">Teléfono Atención Vecino</option>
          <option value="email">Email</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="datetime">Fecha y hora *</label>
        <input type="datetime-local" id="datetime" class="form-control" formControlName="datetime">
        <div *ngIf="incidenteForm.get('datetime')?.invalid && incidenteForm.get('datetime')?.touched" class="error">
          La fecha y hora es obligatoria.
        </div>
      </div>
  
      <div class="form-group">
        <label for="observaciones">Observaciones</label>
        <textarea id="observaciones" class="form-control" formControlName="observaciones"></textarea>
      </div>
  
      <h2>Datos del Ciudadano</h2>
  
      <!-- Formulario de Ciudadano -->
      <div class="form-group">
        <label for="dni">DNI *</label>
        <input type="text" id="dni" class="form-control" formControlName="dni" placeholder="Ingrese el DNI">
        <button type="button" class="buscar-btn" (click)="buscarCiudadano()">Buscar</button>
        <div *ngIf="ciudadanoForm.get('dni')?.invalid && ciudadanoForm.get('dni')?.touched" class="error">
          El DNI es obligatorio y debe tener 8 dígitos.
        </div>
      </div>
  
      <div class="form-group">
        <label for="nombre">Nombre *</label>
        <input type="text" id="nombre" class="form-control" formControlName="nombre" placeholder="Ingrese Nombre">
        <div *ngIf="ciudadanoForm.get('nombre')?.invalid && ciudadanoForm.get('nombre')?.touched" class="error">
          El nombre es obligatorio.
        </div>
      </div>
  
      <div class="form-group">
        <label for="apellido">Apellido *</label>
        <input type="text" id="apellido" class="form-control" formControlName="apellido" placeholder="Ingrese el Apellido">
        <div *ngIf="ciudadanoForm.get('apellido')?.invalid && ciudadanoForm.get('apellido')?.touched" class="error">
          El apellido es obligatorio.
        </div>
      </div>
  
      <div class="form-group">
        <label for="sexo">Sexo *</label>
        <select id="sexo" class="form-control" formControlName="sexo">
          <option value="femenino">Femenino</option>
          <option value="masculino">Masculino</option>
          <option value="otro">Otro</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="domicilio">Domicilio</label>
        <input type="text" id="domicilio" class="form-control" formControlName="domicilio">
      </div>
  
      <div class="form-group">
        <label for="barrio">Barrio</label>
        <select id="barrio" class="form-control" formControlName="barrio">
          <option value="">Seleccione un barrio</option>
          <!-- Agregar más opciones -->
        </select>
      </div>
  
      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="text" id="telefono" class="form-control" formControlName="telefono" placeholder="Ingrese teléfono sin 0 ni 15">
        <div *ngIf="ciudadanoForm.get('telefono')?.invalid && ciudadanoForm.get('telefono')?.touched" class="error">
          El teléfono debe tener 10 dígitos.
        </div>
      </div>
  
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" class="form-control" formControlName="email" placeholder="Ingrese E-mail">
        <div *ngIf="ciudadanoForm.get('email')?.invalid && ciudadanoForm.get('email')?.touched" class="error">
          El formato del email no es válido.
        </div>
      </div>
  
      <div class="form-row">
        <button type="submit" class="siguiente-btn" [disabled]="!incidenteForm.valid || !ciudadanoForm.valid">Registrar Incidente</button>
      </div>
    </form>
  </div>
  