html, body, mat-sidenav-container {
    height: 100%;
    margin: 0;
}

.app-container {
    background-color: #FFFFFF;
    height: 100vh;
}

.app-sidenav {
    background-color: #a8cf45;
    width: 230px;
    height: 100vh;
}



.nav {
    background-color: #a8cf45;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.custom-button {
    background-color:#a8cf45; /* Color de fondo */
    color: white; /* Color del ícono */
    border-radius: 50%; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave */

    /* Alineación y tamaño */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

.custom-button:hover {
    background-color: #a8cf453f; /* Color al pasar el ratón */
}

.title {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.item {
    background-color: #a8cf45;
}